<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if data %}
            {% for i in data %}
            <h4>Details about {{i.Name|upper}}</h4>
            <ol>
                <li>Name:{{i.Name|lower|capfirst}}</li>
                <li>Age:{{i.Age}} years</li>
                <li>Email:{{i.Email}}</li>
                <li>Course:{{i.Course|upper}}</li>
                <li>Date Of Birth:{{i.DOB|date:"SHORT_DATE_FORMAT"}}</li>
            </ol>
          
            <hr>
            {% endfor %}
      
    {% endif %}
</body>
</html>