<!DOCTYPE html>
{% extends 'UserAuthenticationApp/base.html' %}
{% block my_block %}
<div class="card" style="width: 50rem;margin-left: 25%; margin-top: 200px;" align="center">
    <div class="card-body">
      <h5 class="card-title">Contact us</h5>
      <h6 class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium vitae molestias adipisci? Quod mollitia aut dolor vel qui quae nobis nulla voluptatem recusandae itaque saepe maxime reiciendis iste, ipsam enim.</h6>
      <p class="card-text">mail: soa@ac.in phn: 9337489151</p>
    </div>
  </div>
{% endblock %}
    