<!DOCTYPE html>
{% extends 'UserAuthenticationApp/base.html' %}
{% block my_block %}
<div class="card" style="width: 50rem;margin-left: 25%; margin-top: 200px;" align="center">
    <div class="card-body">
      <h5 class="card-title">Welcome to Siksha O Anusandhan University</h5>
      <button type="submit" class="btn btn-info">Info</button>
      <button type="submit" class="btn btn-danger">Attendance</button>
      <button type="submit" class="btn btn-success">Result</button>
      <button type="submit" class="btn btn-warning">Achievements</button>
    </div>
  </div>
{% endblock %}
    