<!DOCTYPE html>
{% extends 'loginlogoutapp/base.html' %}
{% block my_block %}
<div class="card" style="width: 50rem;margin-left: 25%; margin-top: 150px;" align="center">
    <div class="card-body">
      <h5 class="card-title">About us</h5>
      <h6 class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque nostrum inventore tenetur earum iure magnam quo, pariatur atque in. Ea nemo quis molestiae dolores amet assumenda, recusandae exercitationem nobis minus.</h6>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi delectus corrupti, possimus magni est sapiente, in eius esse nam, nisi quasi recusandae officiis. Quaerat vel architecto nisi doloribus quidem quibusdam alias hic laboriosam ducimus quisquam animi quas, eveniet laudantium iste dicta voluptate officia iusto, recusandae rerum libero exercitationem saepe magnam dignissimos. Pariatur voluptate dolor id, a rerum animi iusto asperiores earum illo nihil quam ea? Autem, recusandae odio maiores dolorem praesentium illo culpa velit beatae ipsa est odit, cumque veniam delectus. Alias qui provident molestias placeat. Repudiandae expedita neque voluptas iste ut! Dolor eos cum quidem reprehenderit illo quae cumque?</p>
    </div>
  </div>
{% endblock %}
    