<!DOCTYPE html>
{% extends 'MiniApp/base.html' %}
{% block myblock %}
<div class="card" style="width: 80%; height: 500px; margin: auto;margin-top: 70px;box-shadow: 0px 0px 20px rgb(191, 47, 141);background-color: #2526289d;color: white;border: 2px solid rgb(191, 47, 141);" >
    <div class="card-body">
      <h5 class="card-title" style="font-family: cursive; text-align: center;font-size: 30px;font-weight: bold;text-shadow: 2px 2px 2px rgb(191, 47, 141);">Dashboard</h5>
      <hr>
      <h6 class="card-subtitle mb-2 " style="text-align: center;font-size: 20px;color: rgb(191, 47, 141);">Welcome to E-education. The best place to start...</h6>
      <p class="card-text" style="text-align: center;padding: 30px;font-size: 30px;font-family: 'Times New Roman', Times, serif;">Thank you!!! Visit again...</p>
    </div>
  </div>
{% endblock %}